<table width="100%" cellpadding="2" cellspacing="2">

<?php 
	foreach($result as $key=>$val)
    {
    	switch($val["type"])
        {
        	case "text":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td><input type="text" name="<?=$val['field']?>" value="<?=$arr[$val['field']]?>"  /> </td>
   					 <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
             case "textarea":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td><textarea style="width:400px; height:200px;" name="<?=$val['field']?>" ><?=$arr[$val['field']]?> </textarea></td>
   					 <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
             case "select":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td>
                    	<select name="<?=$val['field']?>">
                        		<?php 
                                	foreach($val["default"] as $k=>$v)
                                    {
                                        if($arr[$val['field']]==$k)
                                        {
                                            $str.="<option value='{$k}' selected />".$v."</option>";	   
                                        }else{
                                            $str.="<option value='{$k}' />".$v."</option>";  
                                       }
                                    }	
                                ?>
                        </select>
                    
                    </td>
   					 <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
             case "radio":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td>
                    <?php
                    
                    	$str="";
                    	foreach($val["default"] as $k=>$v)
                        {
                        	if($arr[$val['field']]==$k)
                            {
                        		$str.="<input type='radio' name='$val[field]' value='{$k}' checked  />".$v;	   
                        	}else{
                           		 $str.="<input type='radio' name='$val[field]' value='{$k}' />".$v;	   
                           }
                        }	
                 		echo $str;
                    ?>
                    </td>
   					 <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
             case "checkbox":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td>
                         <?php
                    	$str="";
                        $v=$arr[$val['field']];
                        if(strstr($v,","))
                        {
                        	$va=explode(",",$v);
                        }else{
                       	 	$va[]=$v;
                       	}
                    
                    	foreach($val["default"] as $k=>$v)
                        {
                        	if(in_array($k,$va))
                            {
                        		$str.="<input type='checkbox' name='$val[field][]' value='{$k}' checked  />".$v;	   
                        	}else{
                           		 $str.="<input type='checkbox' name='$val[field][]' value='{$k}' />".$v;	   
                           }
                        }	
                 		echo $str;
                    ?>
                        
                        
                    </td>
   					 <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
             case "date":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td><input type="text"  class="input-small J_date" name="<?=$val['field']?>" value="<?=$arr[$val['field']]?>"  /> </td>
   					  <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
               case "thumb":
          		?>
                 <tr>
  					<th width="180"><?=$val["name"];?></th>
 					<td>
                    	<img src="<?=$arr[$val['field']]?>" style="width:80px;height:80px;" /> 
                    	<input type="text" name="<?=$val['field']?>" id="<?=$val['field']?>" value="<?=$arr[$val['field']]?>"  />
                    	 <input type="button" style=" height:30px; line-height:30px;"  value="上传图片" onClick="flashupload('thumb_images', '图片上传','<?=$val['field']?>',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','content','12','b6ba209759e147124653ac77362ef2bd');return false;">
                       
                     </td>
   					 <td align="left"><?=$val["prompt"]?></td>
 				 </tr>
           		<?php
             break;
         }   
  	}     
?>
<tr><td colspan="3"><input type="hidden" name="mid" value="<?=$mid?>" /> </td></tr>
</table>
